<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @company.name %>
</p>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>

<p class="notice"><%= notice %></p>
 
</br> </br>

<table>
  <tr>
    <th>Name</th>
    <th>User guide</th>
    <th>Install guide</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @company.units.each do |unit| %>
  <tr>
    <td><%= unit.name %></td>
    <td><%= unit.user_guide %></td>
    <td><%= unit.install_guide %></td>
    <td><%= unit.type %></td>
    <td><%= link_to 'Show', unit %></td>
    <td><%= link_to 'Edit', edit_unit_path(unit) %></td>
    <td><%= link_to 'Destroy', unit, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

</br>
</br>

<h3> Add New Unit </h3>
 
<%= form_for([@company, @company.units.build]) do |f| %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :user_guide %><br />
    <%= f.text_field :user_guide %>
  </div>
  <div class="field">
    <%= f.label :install_guide %><br />
    <%= f.text_field :install_guide %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
