	<div class="portlet-header">
		<h4>Units by <%= @company.name %></h4>	
		<% if current_user.admin? %>
			<div class="portlet-header-right">
				<%= link_to 'Edit', edit_company_path(@company) %> |
				<%= link_to 'Destroy', @company, confirm: 'Are you sure?', method: :delete %>
			</div>
		<% end %>
	</div> 

	<div class="portlet-content">

		<p class="notice"><%= notice %></p>
 
		<table>
		  <tr>
		    <th> <div id="field1"> Name </div> </th>
		    <th>User guide</th>
		    <th>Install guide</th>
		    <th>Type</th>
		    <th>Error Codes</th>
		    <th></th>
		    <th></th>
		  </tr>

		<% @company.units.each do |unit| %>
		  <tr>
			<td><%= link_to unit.name, unit %></td>
			<td>	<% if !unit.user_guide.nil? & !unit.user_guide.empty? %>
			    		<%= link_to "Link", unit.user_guide %>
				<% end %>
				</td>
			<td>	<% if !unit.install_guide.nil? & !unit.install_guide.empty? %>
					<%= link_to "Link", unit.install_guide %>
				<% end %></td>
		    	<td><%= unit.unit_type %></td>
		    	<td><%= unit.errors.count %></td>
		   </tr>
		<% end %>
		</table>

	</div>
</div>

<% if current_user.admin? %>

<div class="portlet x12">

	<div class="portlet-header">
		<h4>Add new Unit</h4>	
	</div>

	<div class="portlet-content">

		<%= form_for([@company, @company.units.build]) do |f| %>

		  <div class="field" >
		    <%= f.label :name %><br />
		    <%= f.text_field :name %>
		  </div>
		  <div class="field">
		    <%= f.label :user_guide %><br />
		    <%= f.text_field :user_guide %>
		  </div>
		  <div class="field">
		    <%= f.label :install_guide %><br />
		    <%= f.text_field :install_guide %>
		  </div>

		<div class="field">
			<%= f.label :unit_type %><br />
			<%= select(:unit, :unit_type, [['Air Conditioner'],['Thermostat'], ['Split System'], ['Air Handler'], ['Heat Pump']]) %>	
		</div>
		  <div class="actions">
		    <%= f.submit %>
		  </div>
		<% end %>

	</div>

<% end %>