<%= form_for(@error) do |f| %>
  <% if @error.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@error.errors.count, "error") %> prohibited this error from being saved:</h2>

      <ul>
      <% @error.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="field">
		<%= f.label :error_Code %><br />
		<%= select(:error, :name, [['Air Temperature Sensor Failure/Fault'], ['Compressor Short Cycling'], ['Economizer Mechanical Fault'], ['Economizer Communication Fault'], ['Low Refrigerant Charge'], ['High Refrigerant Charge'], ['Refrigerant Line Restrictions/TXV Problems'], ['Refrigerant Line Non-Condensables'], ['Low Evaporator Airflow'], ['Low Condenser Airflow']]) %>	
	</div>
  <div class="field">
    <%= f.label :identification %><br />
    <%= f.text_field :identification %>
  </div>
  <div class="field">
    <%= f.label :message %><br />
    <%= f.text_field :message %>
  </div>
  <div class="field">
    <%= f.label :action %><br />
    <%= f.text_field :action %>
  </div>
  <div class="field">
    <%= f.label :unit_id %><br />
    <%= f.number_field :unit_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
