
<div class="portlet-header">
	<h4>All Errors</h4>	
</div>

<div class="portlet-content">

<table>
  <tr>
    <th>Name</th>
    <th>Identification</th>
    <th>Message</th>
    <th>Action</th>
    <th>Unit</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @errors.each do |error| %>
  <tr>
    <td><%= error.name %></td>
    <td><%= error.identification %></td>
    <td><%= error.message %></td>
    <td><%= error.action %></td>
    <td><%= Unit.find(error.unit_id).name %></td>
    <td><%= link_to 'Show', error %></td>
    <td><%= link_to 'Edit', edit_error_path(error) %></td>
    <td><%= link_to 'Destroy', error, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

</div>