
<div class="portlet-header">
	<h4>All Errors</h4>	
</div>

<div class="portlet-content">

<table>
  <tr>
    <th>Name</th>
    <th>Identification</th>
    <th>Message</th>
    <th>Action</th>
    <th>Unit</th>
    <th>Company</th>
    <th></th>
    <th></th>
  </tr>

<% @errors.each do |error| %>
  <tr>
    <td><%= link_to error.name, error %></td>
    <td><%= error.identification %></td>
    <td><%= error.message %></td>
    <td><%= error.action %></td>
    <td><%= link_to error.unit.name, error.unit %></td>
    <td><%= link_to error.unit.company.name, error.unit.company %></td>
    </tr>
<% end %>
</table>

</div>