<div class="portlet-header">
	<h4><%= @error.name %> for <%= @unit.name %></h4>	
</div> 

<div class="portlet-content">

	<p id="notice"><%= notice %></p>

	<p>
	  <b>Name:</b>
	  <%= @error.name %>
	</p>

	<p>
	  <b>Identification:</b>
	  <%= @error.identification %>
	</p>

	<p>
	  <b>Message:</b>
	  <%= @error.message %>
	</p>

	<p>
	  <b>Action:</b>
	  <%= @error.action %>
	</p>

	<p>
	  <b>Unit:</b>
	  <%= @unit.name %>
	</p>
	<p>
	  <b>Company:</b>
	  <%= @company.name %>
	</p>

	<%= link_to 'Edit', edit_error_path(@error) %> |
	<%= link_to 'Back', errors_path %>

</div>