<%= form_for(@unit) do |f| %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :user_guide %><br />
    <%= f.text_field :user_guide %>
  </div>
  <div class="field">
    <%= f.label :install_guide %><br />
    <%= f.text_field :install_guide %>
  </div>
<div class="field">
	<%= f.label :unit_type %><br />
	<%= select(:unit, :unit_type, [['Air Conditioner'],['Thermostat']) %>	
</div>

<div class="field">
	<%= f.label :company %><br />
	<%= select(:unit, :company_id, [['Lennox',1],['Carrier',2], ['Trane',3]) %>	
</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
