<div class="portlet-header">
	<h4>All Units</h4>	
</div> 

<div class="portlet-content">

	<table>
	  <tr>
	    <th>Name</th>
	    <th>User guide</th>
	    <th>Install guide</th>
	    <th>Type</th>
	    <th>Company</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>

	<% @units.each do |unit| %>
	  <tr>
		<td><%= link_to unit.name, unit %></td>
	    
		<td>	<% if !unit.user_guide.nil? & !unit.user_guide.empty? %>
		    		<%= link_to "Link", unit.user_guide %>
			<% end %>
			</td>
		<td>	<% if !unit.install_guide.nil? & !unit.install_guide.empty? %>
				<%= link_to "Link", unit.install_guide %>
			<% end %></td>
	    <td><%= unit.unit_type %></td>
	    <td><%= Company.find_by_id(unit.company_id).name %></td>
	    <td><%= link_to 'Edit', edit_unit_path(unit) %></td>
	    <td><%= link_to 'Destroy', unit, confirm: 'Are you sure?', method: :delete %></td>
	  </tr>
	<% end %>
	</table>

	<br />

</div>